 pandas > requirements.txt
 numpy >> requirements.txt
 scikit-learn >> requirements.txt
 imbalanced-learn >> requirements.txt
 xgboost >> requirements.txt
 shap >> requirements.txt
 streamlit >> requirements.txt
 joblib >> requirements.txt
 matplotlib >> requirements.txt
 seaborn >> requirements.txt